<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Sign Up</title>
</head>
<body>
<div class="container mt-5 text-center center signup-container">
    <h1 class="mt-5">Sign Up</h1>
    <p class="mt-2">Mini Dooray에 일원이 되어주세요!</p>
    <form action="/signup" method="post" class="mt-3">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputText" placeholder="name@example.com" name="userId">
            <label for="floatingInputText">아이디를 입력하세요</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com" name="email">
            <label for="floatingInputEmail">이메일을 입력하세요</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control form-control-sm" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">비밀번호를 입력하세요</label>
        </div>
        <button type="submit" class="mt-3 btn btn-primary">Sign up</button>
    </form>
</div>
</body>
</html>